#account-main{
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-rows: 35px 70px 35px auto;
    grid-template-columns: repeat(12, [col] 122px);
    column-gap: 16px;
}

#account-title{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

#account-view{
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-rows: 35px 70px 35px auto;
    grid-template-columns: repeat(12, [col] 122px);
    column-gap: 16px;
}

#profile-title{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

#account-side-nav{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    display: grid;
    grid-template-rows: repeat(7,[row] 70px);
    background-color: #e0e9ff;
}

#account-side-nav>.side-link{
    display: grid;
    justify-content: center;
    padding-top: 10px;
    transition: all 0.61s ease 0s;
    border-radius: 6px;
}

#account-side-nav>.side-link:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#account-side-nav>.selected{
    background-color: #ffc83b;
}

#account-content{
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #ebf0ff;
}

#settings-content{
    display: grid;
    grid-template-rows: 35px 30px 30px 30px 30px;
    grid-template-columns: repeat(10, [col] 122px);
    column-gap: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

#settings-content>h3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#settings-content>p{
    grid-column-start: 1;
    grid-column-end: 3;
}

#settings-content>.edit-btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #FFB700;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

#settings-content>.edit-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#settings-content>.view-profile-btn{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #6f90f3;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

#settings-content>.view-profile-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#edit-account-content{
    display: grid;
    grid-template-rows: 35px auto;
    grid-template-columns: repeat(10, [col] 122px);
    column-gap: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

#edit-account-content>h3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#edit-account-content>.account-form{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(10, [row] 30px);
    grid-template-columns: repeat(4, [col] 122px);
    column-gap: 16px;
}

.account-form>.save-edit-btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #294dbb;
    color: #c4cce2;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

.account-form>.save-edit-btn:hover{
    background-color: #4b69c4;
    cursor: pointer;
}
.account-form>.cancel-edit-btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #ff0000;
    color: #c4cce2;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

.account-form>.cancel-edit-btn:hover{
    background-color: #ff9d9d;
    cursor: pointer;
}

.account-form>#fs1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
}

.account-form>#fname{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.account-form>#lname{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.account-form>#email{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.account-form>#phone{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.account-form>#fs2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
}

.account-form>#pass{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.account-form>#cpass{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.account-form>#fs3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    align-self: center;
}

.account-form>#street{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.account-form>#city{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

.account-form>#state{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}

.account-form>#country{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
}

.account-form>#postalcode{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
}

#license-content{
    display: grid;
    grid-template-rows: 35px 30px 30px 30px 30px;
    grid-template-columns: repeat(10, [col] 122px);
    column-gap: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

#license-content>#lic-s1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#license-content>#lic-s2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#license-content>#lic-s3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#license-content>#lic-s4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#license-content>.upload-btn{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #FFB700;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

#license-content>.upload-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#profile-content{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: 35px 30px 30px 30px 30px;
    grid-template-columns: repeat(10, [col] 122px);
    column-gap: 16px;
}

#profile-content>.account-settings-btn{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #6f90f3;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

#profile-content>.account-settings-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#account-rentals-content{
    display: grid;
    grid-template-rows: 35px auto;
    grid-template-columns: repeat(9, [col] 122px);
    column-gap: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

#account-rentals-content>h3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#account-rentals-content>#account-rentals-list{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f2f5ff;
}

.lor{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 16px;
    margin: 10px;
}

.lor>#rental-list-item{
    display: grid;
    grid-template-rows: repeat(3, [row] 32px) ;
    grid-template-columns: repeat(4, [col] 256px);
    transition: all 0.61s ease 0s;
    border-radius: 6px;
    background-color: #f2f5ff;
    border-style: dashed;
    border-width: 1.618px;
}

.lor>#rental-list-item:hover{
    background-color: #e0e9ff;
    cursor: pointer;
}

.lor>#rental-list-item>#rental-slideshow{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #ced9fc;
    border-radius: 6px;
    margin-right: 17px;
}

.lor>#rental-list-item>.edit-rental-btn{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #6f90f3;
    border-style: dashed;
    border-width: 0.61px;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

.lor>#rental-list-item>.edit-rental-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#account-rentals-content>.add-rental-btn{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #FFB700;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

#account-rentals-content>.add-rental-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

#account-rentals-content>.rental-form{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(17, [row] 30px);
    grid-template-columns: repeat(2, [col] 122px);
    column-gap: 16px;
    row-gap: 16px;
}

#account-accounting-content{
    display: grid;
    grid-template-rows: 35px 30px 30px 30px 30px;
    grid-template-columns: repeat(9, [col] 122px);
    column-gap: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

#account-accounting-content>h3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rental-form>.save-rental-btn{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 16;
    grid-row-end: 17;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #FFB700;
    border-radius: 6px;
    transition: all 0.61s ease 0s;
}

.rental-form>.save-rental-btn:hover{
    background-color: #ffe39d;
    cursor: pointer;
}

