#landing{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-rows: 840px 700px 700px 700px;
}

#landing>div>button{
    background-color: #FFb700;
}

#ls1{
    grid-row-start: 1;
    grid-row-end: 2;
    color: #ebf0ff;
    background-image:  linear-gradient(to right, #141F40,rgba(255, 255, 255, 0) 100%), url('../assets/landing-page/world-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000f3b;
    display: grid;
    grid-template-columns: 7.43% 122px 122px 122px 7.43% 7.43% auto;
    grid-template-rows: 70px 70px 70px 70px 70px 35px 70px 35px 35px 315px;
    column-gap: 0.95%;
}

#ls1>h1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 48px;
    font-weight: 500;
    align-self: end;
}

#ls1>p{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 20px;
}

#ls1>img{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 11;
    max-width: 100%;
}

@media (max-width: 1599px){
    #ls1>img{
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 11;
        max-width: 100%;
    }
}

#ls1>#cl{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    grid-template-rows: repeat(2, 35px);
    border-right: thin solid #ebf0ff;
}

#ls1>#cl>a{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    padding-right: 8px;
    color: #ebf0ff;
    text-decoration: none;
    font-weight: 300;
    font-size: 28px;
    cursor: pointer;
    transition: all .61s ease;
    justify-self: center;
}

#ls1>#cl>#la1{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: all 0.61s ease;
    justify-self: center;
    opacity: 0;
    transform: translateY(-5px);
}

#ls1>#cl:hover a{
    font-size: 30px;
}

#ls1>#cl:hover #la1{
    opacity: 1;
    transform: translateY(5px);
}

#ls1>#pl{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    grid-template-rows: repeat(2, 35px);
}

#ls1>#pl>a{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    color: #ebf0ff;
    padding-right: 8px;
    font-weight: 300;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    transition: all .61s ease;
    justify-self: center;
}

#ls1>#pl>#la2{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: all 0.61s ease;
    justify-self: center;
    opacity: 0;
    transform: translateY(-5px);
}

#ls1>#pl:hover a{
    font-size: 30px;
}

#ls1>#pl:hover #la2{
    opacity: 1;
    transform: translateY(5px);
}

#ls1>#sl{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    grid-template-rows: repeat(2, 35px);
    border-right: thin solid #ebf0ff;
}

#ls1>#sl>a{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    font-weight: 300;
    text-decoration: none;
    padding-right: 5px;
    color: #ebf0ff;
    font-size: 28px;
    cursor: pointer;
    transition: all .61s ease;
    justify-self: center;
}

#ls1>#sl>#la3{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: all 0.61s ease;
    justify-self: center;
    opacity: 0;
    transform: translateY(-5px);
}

#ls1>#sl:hover a{
    font-size: 30px;
}

#ls1>#sl:hover #la3{
    opacity: 1;
    transform: translateY(5px);
}

#ls2{
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: "Montserrat", sans-serif;
    color: #141F40;
    display: grid;
    grid-template-columns: 7.43% auto 3.2% 30% 7.43%;
    grid-template-rows: 140px 140px 70px 70px 70px 70px 140px;
    column-gap: 16px;
}

#ls2>h1{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 48px;
    align-self: end;
}

#ls2>p{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 20px;
}

#ls2>img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

#ls2>button{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#ls3{
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #141F40;
    display: grid;
    grid-template-columns: 7.43% 30% 3.2% auto 7.43%;
    grid-template-rows: 140px 140px 70px 70px 70px 70px 140px;
    column-gap: 16px;
}

#ls3>h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 48px;
    align-self: end;
}

#ls3>p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 20px;
}

#ls3>img{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

#ls3>button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

#ls4{
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: "Montserrat", sans-serif;
    color: #141F40;
    display: grid;
    grid-template-columns: 7.43% auto 3.2% 30% 7.43%;
    grid-template-rows: 140px 140px 70px 70px 70px 70px 140px;
    column-gap: 16px;
}


#ls4>h1{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 48px;
    align-self: end;
}

#ls4>p{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 20px;
}

#ls4>img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

#ls4>button{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}