
nav {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(12, [col] 122px);
    grid-template-rows: 17px 36px 17px;
    column-gap: 16px;
    justify-items: end;
}

.nav__link{
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    color: #000f3b;
    font-weight: 500;
    text-decoration: none;
}


nav>#shipper, nav>#carrier, nav>#partner, nav>#about, nav>#login, nav>#signup{
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    color: #000f3b;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.61s ease 0s;
    padding: 10px;
    border-radius: 6px;
    align-self: center;
}

nav>#shipper:hover, nav>#carrier:hover, nav>#partner:hover, nav>#about:hover{
    background-color: #ffe39d;
    color: #000f3b;
    text-decoration:underline;
}

nav>#logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.logo{
    margin: 0;
}

nav>#shipper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav>#carrier {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav>#partner {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav>#about {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

nav>div{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

nav>#services{
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    color: #000f3b;
    background-color: #e0e9ff;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.61s ease 0s;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

nav>#services>a>#service-icon, nav>a>#login-icon {
    padding-left: 15px;
}

.sub-menu{
    position:absolute;
    margin-top: 10px;
    width: 112px;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
    transform: translateY(-3px);
    background-color: #e0e9ff;
    border-radius: 6px;
}

.sub-menu>li{
    padding-top: 10px;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    color: #000f3b;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
}

nav>#login {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

nav>#signup {
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    background-color: #FFB700;
    color: #000f3b;
}

nav>#signup:hover{
    background-color: #ced9fc;
    color: #000f3b;
}

nav>#services:hover, nav>#login:hover{ 
    background-color: #ffd15c;
    color: #000f3b;
}

nav>#services:hover .sub-menu{
    opacity: 1;
    pointer-events:all;
    transform: translateY(1px);
}

nav>#services>ul>li:hover{
    opacity: 1;
    background-color: #ffe9b0;
    color: #000f3b;
    border-radius: 6px;
}
