.register{
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-column: 2;
}
.register-form{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    font-family: "Montserrat", sans-serif;
    grid-template-rows: 140px 70px 35px 17px 35px 17px 35px 17px 35px 17px 35px 17px 35px 17px 35px 17px 35px 35px;
    grid-template-columns: repeat(6, [col] 122px);
    column-gap: 16px;
}

.graphic{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 70px auto;
    column-gap: 16px;
}
.graphic>img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.register-form>h1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 48px;
    align-self: end;
}

.register-form>#err{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 17px 36px 17px;
    align-content: center;
}

.register-form>#err>p{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #F77979;
    align-self: center;
    color: #f2f5ff;
}

.register-form>select{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.register-form>input[id = fname]{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.register-form>input[id = lname]{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

.register-form>input[id = email]{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
}

.register-form>input[id = pass]{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:11;
    grid-row-end: 12;
}

.register-form>input[id = cpass]{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 14;
}

.register-form>input[type = submit]{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 16;
}

.register-form>p{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 17;
    grid-row-end: 18;
}