@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    background-color: #ebf0ff;
    height: 100%;
    overflow-x: hidden;

}

header {
    background-color: #e0e9ff;
    height: 70px;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 140px auto 140px;
}

.app{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 140px auto 140px;
}

#app{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #f2f5ff;
}

#footer{
    background-color: #000f3b;
    font-family: "Montserrat", sans-serif;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 140px auto 140px;
}

#footer>.cont{
    display: grid;
    grid-template-columns: repeat(12, [col] 122px);
    grid-template-rows: 30px 106px 30px 30px;
    grid-column-gap: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
}

#footer>.cont>#logo{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#footer>.cont>.cprght{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

#footer>.cont>.people{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(4, 26px);
    grid-row-gap: 5px;
}
#footer>.cont>.company{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(4, 26px);
    grid-row-gap: 5px;
}
#footer>.cont>.services{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(4, 26px);
    grid-row-gap: 5px;
}

#footer>.cont>div>a{
    color: white;
    text-decoration: none;
}

#footer>.cont>div>p{
    color: white;
    font-size: small;
}