* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebf0ff;
}

header {
    background-color: #e0e9ff;
    height: 70px;
    display: grid;
    grid-template-columns: 140px auto 140px;
}

#app {
    display: grid;
    grid-template-columns: 140px auto 140px;
}

#footer{
    background-color: #000f3b;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 140px auto 140px;
}

#footer>.cont{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(12, [col] 122px);
    grid-template-rows: 35px 106px 35px;
    grid-column-gap: 16px;
}

#footer>.cont>#logo{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#footer>.cont>.people{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(4, 26px);
    grid-row-gap: 5px;
}
#footer>.cont>.company{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(4, 26px);
    grid-row-gap: 5px;
}
#footer>.cont>.services{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: repeat(4, 26px);
    grid-row-gap: 5px;
}

#footer>.cont>div>a{
    color: white;
    text-decoration: none;
}