@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBFBFB;
}

header {
    background-color: #141F40;
    height: 97px;
}

.logo {
    height: 43px;
    width: 123px;
    margin-left: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right, .left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 122px;
}

nav a {
    color: #FBFBFB;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: right;
    margin-left: 60px;
    margin-top: 27px;
}

#app {
    margin-left: 140px;
    margin-right: 140px;
}