<!DOCTYPE html>
<html>
    <body>
        <div id="app">
            <section class="featured">
                <h2 class="section-title">Featured Rentals</h2>
                <div class="split">
                    <a href="" class="featured-rental">
                        <img src="/static/assets/home/cooltruck.jpg" alt="" class="featured-img">
                        <h5 class="featured-details">Cool Truck</h5>
                        <h6 class="featured-price">$1500/month</h6>
                    </a>
                    <a href="" class="featured-rental">
                        <img src="/static/assets/home/trailer.jpg" alt="" class="featured-img">
                        <h5 class="featured-details">Fridge Trailer</h5>
                        <h6 class="featured-price">$1650/month</h6>
                    </a>
                    <a href="" class="featured-rental">
                        <img src="/static/assets/home/oldtruck.jpg" alt="" class="featured-img">
                        <h5 class="featured-details">Old Reliable Truck</h5>
                        <h6 class="featured-price">$930/month</h6>
                    </a>
                </div>
            </section>
            <section class="services">
                <h2 class="section-title">Our Services</h2>
                <article class="service">
                    <img src="" alt="" class="service-img">
                    <h3 class="service">Rentals</h3>
                    <p class="service-details">
                        Find the best Trucks and Trailers for rent nearby.
                    </p>
                    <a href="" class="sbtn"></a>
                </article>
                <article class="service">
                    <img src="" alt="" class="service-img">
                    <h3 class="service">Carriers</h3>
                    <p class="service-details">
                        Streamline your transportation rental needs to get your business operating at 
                        full speed. Keep track of your rental expenses with our online rental 
                        tracking services. Easily upgrade, expand, and further grow your business with Rental Web App.
                    </p>
                    <a href="" class="sbtn"></a>
                </article>
                <article class="service">
                    <img src="" alt="" class="service-img">
                    <h3 class="service">Partners</h3>
                    <p class="service-details">
                        Make your Truck and Trailers work for you. Earn through leasing out your fleet 
                        and help freight move.
                    </p>
                    <a href="" class="sbtn"></a>
                </article>
            </section>
        </div>
    </body>
</html>